<html>
    <head>
        <title>Course Catalog</title>
    </head>
    <body>
        <h1>Course Catalog</h1>
        <h4>Semester and year of study (ex Fall 2020)</h4>
        <form method="POST">
            Semester (ex Fall): <input type="text" name="semester"><br>
            Year (ex 2021): <input type="text" name="year"><br>
            Subject (Computer science as "CS"): <input type="text" name="subject"><br>
            <input type="submit" value="Submit">
        <form>
    </body>
</html>
